.game {
    text-align: center;
  }
  
  .status {
    font-size: 10px;
  }
  
  .board {
    display: inline-block;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid;
    justify-content: center;
  }
  
  .cell:hover {
    background-color: aquamarine;
  }

  button {
    margin: 20px;
  }
  