span {
  color: white;
  text-align: center;
  position: absolute;
  z-index: 2;
  transform: translate(40%, 50%);
}

h1 {
  font-weight: 900;
  font-size: 50px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

.input {
  background-color: rgba(79, 78, 78, 0.7);
  position: relative;
  z-index: 2;
  margin-top: 320px;
  margin-left: 500px;
  width: 25%;
  padding: 12px;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  color: white;
}

.input::placeholder {
  color: grey;
  font-size: small;
}

button {
  color: white;
  margin-left: 5px;
  background-color: red;
  border: none;
  border-radius: 3px;
  z-index: 2;
  position: relative;
  padding: 12px;
  width: 12%;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

.error {
  color: red;
  z-index: 2;
  position: relative;
  margin-left: 33%;
}
