<div class="main-section main-section-1">
  <main class="netflix">
    <div class="side-text">
      <h1>Enjoy on your TV.</h1>
      <h4>
        Watch on Smart TVs, Playstation, Xbox, Chromcast, Apple TV, Blu-ray
        players, and more.
      </h4>
    </div>

    <div class="backgroundimgtv">
      <img src="../../assests/backgroundtv.jpg" alt="background imgage" />
    </div>
  </main>
</div>

<div class="main-section">
  <main class="netflix">
    <div class="backgroundimg">
      <img src="../../assests/backgroundimg.jpg" alt="background imgage" />
    </div>
    <div class="box">
      <img
        src="../../assests/picindialog.png"
        alt="movie image"
        class="movie-image"
      />
      <div class="text">
        <div class="text-name">Stranger Things</div>
        <div class="text-download">Downloading...</div>
      </div>
      <img src="../../assests/gifindialog.gif" alt="gif" class="download-gif" />
    </div>

    <div class="side">
      <h1>Download your shows to watch offline.</h1>
      <h4>Save your favorites easily and always have something to watch</h4>
    </div>
  </main>
</div>
