.home {
  background-image: url("../../../../assests/netflix.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

app-header {
    position: relative;
    z-index: 2;
}

app-main-section {
    position: relative;
    z-index: 2;
}

app-division{
    z-index: 2;
    position: relative;
}



